<% content_for :title do %>Alex White<% end %>
<% content_for :description do %>Website of Alex White<% end %> 
<section>
   <img src="https://pbs.twimg.com/profile_images/378800000553826962/434626eede4483931b8235d9733220de.jpeg" class= "zoom_pic">
</section>
<section>
    <div class="column">
		<div class="form-centered">
			<%= simple_form_for @visitor do |f| %>
				<%= f.error_notification %>
				<%= f.input :email, label: false, :placeholder => 'Your email address...' %> 
				<br/>
				<%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
			<% end %> 
		</div>
    </div>
</section>