<% content_for :title do %>About<% end %>
<h3 class= "heading">About Alex White</h3>
<p>Alex White is an Oakland based web developer, writer, teacher and comedian. He first learned web design on his grandfather's computer in 1994 at the age of nine. In 2013 he dedicated himself to learning modern web design and loves helping fellow artists and small business people have a great web presence.</p>