<% content_for :title do %>About<% end %>
<h3>About Alex White</h3>
<p>Hello. I made this website using Ruby on Rails. I am looking for a job. I am passionate about technology, the internet, and how these things will change our lives in the areas of finance, collaborative culture, energy, and everything else. I have a degree in Cultural Anthropology from UCSB. I am an amateur comedian, I teach kids how to build robots, and I can breath fire. I used to be a chef. I am curious above all else and have lived my life by following that curiosity. It has lead me to computer science and web application design and I love it.</p>
