<h1 class="heading"> Services</h1>
I provide beautifully designed custom websites, redesign of existing websites, wordpress layout, assistance with hosting and maintenece. I can provide features including mailing lists, search functions, contact forms, and much more. 