// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
  
  div.resume {
	  margin-left: 20px;
  }

 .heading { 
	  width: 730px; 
	  height: 133px; 
	  line-height: 0px; 
	  color: transparent; 
	  font-size: 30px; 
	  font-weight: 300; 
	  text-transform: uppercase; 
	  -webkit-transition: all 0.5s ease; 
	  //-moz-transition: all 0.5s ease; 
	  //-o-transition: all 0.5s ease; 
	  margin-top: 50px;
  } 

.heading:hover { 
	line-height: 133px; 
	color: #575858; 
} 
	
.zoom_pic{
	border: 10px solid #fff;  
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	margin: 20px;
	overflow: hidden;
   
	-webkit-box-shadow: 5px 5px 5px #111;
	        box-shadow: 5px 5px 5px #111;   
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
		    box-sizing: border-box;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
		 -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
			transition: all 1s ease;
	
}
 
.zoom_pic:hover {
    height: 400px;
	
}